/* Pagination */
.pagination {
    position:absolute;
    bottom:-75px;
    right:0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    z-index: 0;
}

.paginationItem {
    color: #fff;
    border: 2px solid var(--primary-800);
    padding: 10px 15px;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    position: relative;
    margin: 0 5px;
    cursor: pointer;
}

.paginationItem span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.paginationItem.active {
    background-color: var(--primary-500);
}

.prev,
.next {
    background-color: var(--white);
    border: none;
    padding: 10px;
    color: var(--primary-900);
    box-shadow: 0 0 3px #00539c75;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 50%;
}

.prev.disabled,
.next.disabled {
    pointer-events: none;
    box-shadow: none;
    color: #999;
}