
.button {
    border-radius: .25rem;
    height: 100%;
     /* width: 100%; */
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    padding-left: 15px;
    padding-right: 15px;
    color: #fff;
     /* -webkit-clip-path: polygon(0 0,0 0,100% 0,100% 0,100% calc(100% - 15px),calc(100% - 15px) 100%,15px 100%,0 100%); */
     /* clip-path: polygon(0 0,0 0,100% 0,100% 0,100% calc(100% - 15px),calc(100% - 15px) 100%,15px 100%,0 100%); */
    
    font-size: 0.7rem;
    line-height: 14px;
    letter-spacing: 1.2px;
    transition: .2s .1s;
    background-image: var(--linear-gradient);
    border: 0 solid;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.button:hover {
    cursor: pointer;
    transition: all .3s ease-in;
    padding-right: 25px;
    padding-left: 25px;
}