main.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main.not-found .heading {
  text-align: center;
  color: var(--primary);
  font-weight: 600;
  font-size: 45px;
  line-height: 46.4px;
  margin: 1rem 0;
  width: 90%;
}

main.not-found .description {
  text-align: center;
  color: var(--black);
  font-weight: 400;
  font-size: 25px;
  margin-bottom: 2rem;
  width: 90%;

}

main.not-found .to-home {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  width: 7rem;
}